/* Add-Remove this class to trigger a repaint without triggering
  a reflow. This will fix some issues in webkit:
  http://stackoverflow.com/questions/3485365/
    how-can-i-force-webkit-to-redraw-repaint-to-propagate-style-changes */
.repaint_toogleable_fix {
  fill: #000000;
}

/*  ui-widget-overlay  */
.overlay_panel {
  height: 96%;
  width: 96%;
  top: 2%;
  left: 2%;

}

.overlay_panel_holding_container {
  background: rgba(0, 236, 255, 0.2);
}
