.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

div.tooltip {   
    position: absolute;           
    text-align: center;           
    width: 200px;                  
    height: 18px;                 
    padding: 2px;             
    font: 12px sans-serif;     
    color: black;   
    background: lightsteelblue;   
    border: 0px;      
    border-radius: 10px;           
    pointer-events: none;
}

.compass{
  	fill:			#fff;
  	stroke:			#000;
  	stroke-width:	1.5;
}

.button{
	fill:           	#225EA8;
	stroke:   			#0C2C84;
	stroke-miterlimit:	6;
	stroke-linecap:		round;
}

.button:hover{
	stroke-width:   2;
}

.plus-minus{
	fill:			#fff;
	pointer-events: none;
}
